@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: var(--main-gray100);
}

.mw {
    max-width: 1248px;
    margin: auto;
}

.pdtb {
    padding: calc(var(--gap-big)*2) 0;
}

:root {
    --main-c1: #c1dcdc;
    --main-gray100: rgba(31, 31, 31, 1);
    --main-gray75: rgba(31, 31, 31, 0.75);
    --main-gray50: rgba(31, 31, 31, 0.5);
    --gap-big: 50px;
    --gap-small: 32px;
}

.hd {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 99;
}

nav {
    display: flex;
    align-items: center;
    gap: calc(var(--gap-big) * 2);
    width: 100%;
}

nav .gnb {
    display: flex;
    flex: 1;
    gap: var(--gap-small);
    font-weight: bold;
    color: var(--main-gray50);
}

nav .gnb li a {
    display: block;
    padding: 15px 15px;
    transition: .15s;
}

nav .gnb li:hover {
    color: var(--main-gray100);
}

nav .function {
    display: flex;
    width: 20%;
    text-align: center;
}

nav .function>* {
    display: block;
    padding: var(--gap-small) 5px;
}

nav .function>*:hover .function img {
    transform: scale(1.5);
}

nav .function>:not(.ham) {
    width: 35%;
}

nav .function .ham {
    cursor: pointer;
    flex: 1;
    text-align: right;
    padding-right: 0;
}

nav .info {
    position: relative;
}

nav .info::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 15px;
    background-color: var(--main-gray100);
    top: 45%;
    right: 0;
    transform: translate(-50%, -50%);
}

/* sec1 */
.sec1 {
    padding-top: calc(var(--gap-big)*2 + 5px);
}

.sec1 .inner {
    display: flex;
    padding: calc(var(--gap-big)*2) var(--gap-small);
    gap: calc(var(--gap-big)*4);
    background-color: var(--main-c1);
    border-radius: 30px;
    padding-bottom: 0;
    overflow: hidden;

}

.sec1 .inner .desc {
    width: 40%;
}

.sec1 .inner .desc h2 {
    font-size: var(--gap-big);
}

.sec1 .inner .desc p {
    display: flex;
    gap: var(--gap-big);
    padding: var(--gap-small)0;
    line-height: var(--gap-small);
    font-weight: 600;
}

.sec1 .inner .desc p b {
    font-size: calc(var(--gap-big)/2);
    /* display: block; */
    /* padding-bottom: 5px; */
}

.sec1 .inner .desc p span:first-of-type {
    position: relative;
}

.sec1 .inner .desc p span:first-of-type::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 50px;
    background-color: var(--main-gray100);
    left: 115%;
    top: 15%;
}

.sec1 .inner .desc .submit {
    position: relative;
}

.sec1 .inner .desc .submit .tx {
    border: none;
    /* display: block; */
    padding: calc(var(--gap-small)/2);
    width: 60%;
    border-radius: 5px;
}

.sec1 .inner .desc .submit .btn {
    position: absolute;
    background-color: var(--main-c1);
    border: none;
    border-radius: 7px;
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: calc(var(--gap-small)/4);
    font-weight: 600;
}

.sec1 .inner .rd {
    width: 450px;
    height: 400px;
    background-color: #000;
    border-radius: 50% 50% 0 50%;
    position: relative;

}

.sec1 .inner .rd img {
    position: absolute;
    ;
    object-fit: cover;

}

.sec1 .inner .rd img:first-of-type {
    left: 65%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.sec1 .inner .rd img:nth-of-type(2) {
    right: -20%;
    top: 0;
    transform: translate(-50%, -50%);
    width: 20%;
}

.sec1 .inner .rd img:nth-of-type(3) {
    transform: translate(-50%, -50%);
    right: 80%;
    top: 60%;

}

/* sec1 */

/* sec2 */

.sec2 .inner {
    display: flex;
    gap: var(--gap-small);
}

.sec2 .inner .desc {
    width: 30%;
}

.sec2 .inner .desc h2 {
    font-size: calc(var(--gap-small)/1.1);
    line-height: calc(var(--gap-small)*1.3);
    padding-bottom: calc(var(--gap-small)/2);
}

.sec2 .inner .desc p {
    line-height: calc(var(--gap-small)*.8);
    padding-bottom: calc(var(--gap-small)/2);
}

.sec2 .inner .desc a {
    background-color: var(--main-c1);
    font-weight: 600;
    display: block;
    padding: calc(var(--gap-small)/2) calc(var(--gap-small)/2);
    border-radius: 10px;
}

.sec2 img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 30px;
}

.sec2 .sec2_slide .swiper-slide>* {
    padding-bottom: 15px;
}

.sec2 .sec2_slide .swiper-slide p {
    color: var(--main-gray50);
}

.pg .swiper-pagination-bullet {
    border-radius: 0;
    width: 10px;
    height: 5px;
}

.pg .swiper-pagination-bullet-active {
    background-color: var(--main-gray75);
    border: 1px solid #000;
    width: 20px;
}

/* sec2 */

/* sec3 */
.sec3 .inner {
    display: flex;
    gap: var(--gap-small);
    flex-wrap: wrap;
    text-align: center;
}

.sec3 .inner .title {
    width: 100%;
    margin-bottom: calc(var(--gap-big)*1.2);
}

.sec3 .inner .title h2 {
    font-size: calc(var(--gap-small)/1.1);
    padding-bottom: calc(var(--gap-small)/1.1);
}

.sec3 .inner>:not(.title) {
    width: calc(100%/3 - var(--gap-small));
    margin: auto;
}

.sec3 .inner article {
    line-height: var(--gap-small);
}

.sec3 .inner article p {
    line-height: calc(var(--gap-small)*.7);
}

.sec3 .inner article div {
    width: 30%;
    margin: auto;
    padding: calc(var(--gap-small)*.8);
    background-color: var(--main-c1);
    border-radius: 50%;
    margin-bottom: var(--gap-small);
}

/* sec3 */

/* sec4 */
.sec4 .inner .title {
    width: 100%;
    text-align: center;
    margin-bottom: calc(var(--gap-big)*2);
}

.sec4 .inner .title h2 {
    font-size: calc(var(--gap-small)/1.1);
    padding-bottom: calc(var(--gap-big)*.7);

}

.sec4 .inner .bg {
    width: 100%;
    background-color: var(--main-c1);
    padding: var(--gap-big);
}

.sec4 .sec4_slide {
    border: 1px solid #000;
}

.sec4 .sec4_slide .swiper-slide {
    width: 30%;
}

.sec4 .sec4_slide .swiper-slide img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 30px;
}

/* sec4 */

/* sec5 */
/* sec5 */